<div class="d-flex flex-row align-items-center justify-content-center">
  <h1>All documents</h1>
  <a class="btn btn-success mx-4" routerLink="/document/create">Create document</a>
</div>

<app-document-create></app-document-create>

<div class="d-flex justify-content-center">
  <table>
    <tr>
      <th>Document name</th>
      <th>Version</th>
      <th>File name</th>
      <th>File size (in bytes)</th>
      <th></th>
    </tr>
    <tr *ngFor="let document of documents$ | async">
      <td>{{ document.documentName }}</td>
      <td>{{ document.version }}</td>
      <td>{{ document.fileName }}</td>
      <td>{{ document.fileSize }}</td>
      <td><button class="btn btn-danger" (click)="removeDocument(document.id!)">Delete</button></td>
    </tr>
  </table>
</div>

